*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Universal */
body{
    max-width: 1600px;
}

.btn a{
    background-color: #469165;
    font-size: 16px;
    line-height: auto;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 12.5px 16px;
    border-radius: 5px;;
}
/* Nav Bar */
header{
    background-color: #fff;
}

header nav{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    gap: 32px;
}

.nav-items{
    list-style-type: none;
}

.nav-items a{
    text-decoration: none;
    font-size: 16px;
    line-height: 152%;
    color: #000;
    font-weight: 500;
}

