*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Universal */
body{
    max-width: 1600px;
}

.btn a{
    font-size: 16px;
    line-height: auto;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 12.5px 16px;
    border-radius: 5px;
    background-color: #469165;
}
/* Nav Bar */
header{
    background-color: #fff;
}

header nav{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    gap: 32px;
}

.nav-items{
    list-style-type: none;
}

.nav-items a{
    text-decoration: none;
    font-size: 16px;
    line-height: 152%;
    color: #000;
    font-weight: 500;
}

/* Hero Section */

#hero{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 115.5px 0 179.5px;
}

.circular-tag{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-outermost{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgba(70, 145, 101, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-outer{
    width: 12px;
    height: 12px;
    background-color: rgba(70, 145, 101, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-inner{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #469165;
}

#early-access-tag{
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    width: 100%;
    border-radius: 130px;
    padding: 8px 12px;
    background-color: #fff;
}

#early-access-tag p{
    color: #469165;
    line-height: auto;
    font-size: 16px;
    font-weight: 500;
}

#hero-title h2{
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

#hero-title h2 span{
    color: #30B868;
    display: block;
}

#hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-bottom: 16px;
}

#hero-text p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

#hero-btns{
    display: flex;
    gap: 16px;
}

#hero-btn-one{
    width: 250px;
    border-radius: 5px;
    background-color: #469165;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#hero-btn-one p{
    font-weight: 600;
    font-size: 16px;
    line-height: auto;
    color: #fff;
}

#hero-btn-two{
    padding: 12.5px 16px;
    border-radius: 5px;
    background: transparent;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #fff;
    color: #fff;
}

#hero-btn-two i{
    margin-right: 10px;
}

/* Main Section Part One */

#main-section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    background: linear-gradient(
    to bottom,
    rgba(250, 247, 247, 0.7) 0px,
    rgba(250, 247, 247, 0.7) 548px,
    #fff 548px,                      
    #fff 100%                        
  );
}

#main-section-one h3{
    font-weight: 700;
    font-size: 48px;
    color: #001931;
    line-height: auto;
}

#main-section-one p{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
}

#main-section-one-para{
    margin: 16px 0 44px;
}

.four-points{
    display: flex;
    gap: 24px;
    justify-content: center;
    max-width: 1360px;
}

.four-points article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 70px 24px;
    border-radius: 5px;
    box-shadow: 3px -8px 15px -12px rgba(0, 0, 0, 0.1);
}

.four-points article:last-child{
    padding-top: 55px;
}

.four-points article figure{
    background-color: #F95555;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four-points article figure img{
    width: 35px;
    height: 35px;
}

.four-points article h6{
    font-size: 24px;
    line-height: auto;
    font-weight: 600;
    color: #001931;
    text-align: center;
    margin: 16px 0;
}

.four-points article h6 span{
    display: block;
}

.four-points article p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
    width: 271.5px;
    margin: auto;
    text-align: center;
}


/* Main Section Two */

#main-section-two{
    display: flex;
    max-width: 1360px;
    width: 100%;
    margin: 120px auto;
    gap: 60px;
    align-items: center;
}

#text-container h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    text-align: left;
}

#text-container h2{
    text-transform: capitalize;
    font-weight: 700;
    color: #001931;
    line-height: auto;
    margin: 16px 0;
    font-size: 48px;
    text-align: left;
}

#text-container p{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.checklist{
    margin-top: 40px;
}

.checklist ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checklist ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.checklist ul li h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    text-align: left;
}

/* Main Section Three */

#main-section-three{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto 120px;
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 80px 0;
}

#main-section-three div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#main-section-three h2{
    font-size: 40px;
    line-height: auto;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
}

#main-section-three p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}

#main-section-three div p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}

#main-section-three div a{
    padding: 16.5px 16px;
    border-radius: 5px;
    background-color: #469165;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#main-section-three div a p{
    color: #fff;
    font-size: 16px;
    line-height: auto;
    font-weight: 600;
}

/* Footer */

footer{
    background-color: #001931;
    padding: 120px 0 30px;
}

#footer-inner{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

#footer-nav{
    display: flex;
    justify-content: space-between;
}

#social-links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#social-links h6{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

#social-links ul{
    display: flex;
    gap: 16px;
}

#social-links ul li{
    list-style-type: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#social-links ul li i{
    color: #001931;
    font-size: 14px;
}

#straight-line {
    width: 100%;                 
    height: 1px;                 
    background-color: rgba(255, 255, 255, 0.1); 
    margin: 80px 0 30px;               
}

#copyright p{
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}